.container {
  width: 100%;
  height: 100vh;
}

.container header.home-header {
  height: 280px;
  background: var(--color-primary);

  padding: 2rem;

  /* display: flex;
  align-items: flex-start;
  justify-content: space-between;

  flex-direction: column; */
}

/* Top */

.container header #top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#notification {
  display: flex;
  align-items: center;

  font-family: Inter;
  font-weight: 600;
  font-size: 1rem;
}

#notification img {
  margin-right: 0.5rem;
}

#avatar-profile {
  display: flex;
  align-items: center;
  
}

#avatar-profile p {
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin-right: 1.25rem;

  font-weight: 600;
}

#avatar-profile span {
  display: block;

  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.5rem;

  font-weight: 400;
}

#avatar-profile p span:hover {
  text-decoration: underline;
  color:var(--color-secondary);
}

#avatar-profile img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 0.156rem solid #0AD2DC;
}

.separator-line {
  height: 1px;
  background-color: var(--color-hairline-in-dark);
  margin: 1rem 0;
}

/* Summary */

.container header #summary {
  margin-top: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Info */

#summary .info {
  display:flex;
  font-family: Inter;

  margin-bottom: 2rem;
}

.search-groups {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  margin-bottom: 2rem;
}

.search-groups .select-group {
  display: flex;
  margin-top: -1.8rem;
}

.search-groups .select-group .select-wrapper + .select-wrapper {
  margin-left: 1.5rem;
}

/* .search-groups button.button .delete {
  background: var();
} */

.search-groups button.button {
  width: 6rem;
  height: 3rem;
  border-radius: 0.5rem;

  background: var(--color-save);
  color: var(--color-text);

  transition: 0.5s;

  cursor: pointer;

  margin-top: 1.2rem;
}

.search-groups input {
  font-family: IBM Plex Sans;
  font-weight: 400;

  background: #FCFDFF;

  border: 1px solid #E1E3E6;
  border-radius: 0.5rem;

  padding: 0.75rem 1.5rem;

  width: 100%;

  color: var(--color-card-label);
}

.info > div {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  
  margin-right: 2.5rem;
}

.info > div > strong {
  display: block;
  
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.625rem;
}

/* Info Button */
#summary .button {
  padding: 0.75rem 1.25rem 0.75rem 0.75rem;
  margin-bottom: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--color-primary);

  color: var(--color-text);

  border-radius: 0.6rem;

  transition: 1.2s;
}

#summary .button:hover {
  background: var(--color-secondary-hover);
}

#summary .button span::before {
  width: 2rem;
  height: 2rem;
  content: " "; 
  background-color: var(--color-background);
  opacity: 0.16;
  border-radius: 0.313rem;

  position: absolute;
}

#summary .button span {
  width: 2rem;
  height: 2rem;

  margin-right: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

#summary .button span img {
  width: 1.5rem;
  height: 1.5rem;
}

/* Main */
.container main {
  margin-top: -2.825rem;
  padding: 2rem;
}
