.card {
  display: grid;
  grid-template-columns: 40% 25% 15% 20%;
  align-items: center;

  margin-bottom:  0.5rem;

  position: relative;

  transition: all 0.2s;

  background: #FFF;

  border-radius: 0.5rem;

  color: var(--color-primary);

  height: 5rem;

  padding: 1rem;
}

.card.gold-border:hover {
  background: 
  linear-gradient(90deg, rgba(223, 208, 2, 0.72) 1%, rgba(252, 253, 255, 0.1) 51.4%), white;
}

.card:hover {
  background: 
  linear-gradient(90deg, rgba(10, 209, 219, 0.1) 1%, rgba(252, 253, 255, 0.1) 51.4%), white;
}

.card::before {
  content: ' ';
  
  width: .25rem;
  height: 0%;
  background-color: var(--color-primary);

  border-radius: .313rem 0 0 .313rem;

  position: absolute;
  top: 0;
  left: -1px;

  transition: all .2s;
}

.card:hover::before {
  height:100%;
}

.card .column:last-child {
  justify-self: flex-end;
}

.card .select-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .select-box img {
  cursor: pointer;
  margin-left: 1rem;
}

.card .column > span {
  display:block;

  font-family: Inter;
  font-weight: 600;
  font-size: 0.75rem; /* 12px of 16px root*/
  text-transform: uppercase;

  color: var(--color-card-label);
}

.status .column p {
  font-weight: 600;
}

.column.name {
  font-family: IBM Plex Sans;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.125rem;
}


.column.actions button.button {
  /* border: 0.1rem solid var(--color-card-label); */

  border-radius: 0.5rem;

  background: none;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 0.5rem;

  cursor: pointer;
}

.column.actions button img {
  height: 2.5rem;
  width: 2.5rem;

  transition: all 0.2s;
}

@media (max-width: 425px) {
  .card .column.name {
    font-size: 1rem;
  }

  .card .column.status {
    display: none;
  }
}

@media (max-width: 768px) {
  .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10rem;
  }

  .card .column {
    display: flex;
    flex-direction: row;
  }

  .column.name {
    font-size: 1.5rem;
  }

  .column.deadline {
    display: none;
  }
}